*{
    box-sizing: border-box;
}

.form-container{
    width: fit-content;
    margin: 30px auto;
}

div{
    margin-bottom: 10px;
}


input[type="text"],
input[type="number"]{
    height: 20px;
    width: 150px;
}

label{
    display: inline-block;
    width: 50px;
}

.skill-content{
    width: fit-content;
    margin: 0 auto;
}

.submit{
    width: 160px;
    height: 25px;
    background: red;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.submit:hover{
    background: #af0909;
}

.data-content{
    width: fit-content;
    margin: 10px auto;
}

.data-content .data-title{
    border-bottom: 2px solid grey;
    
}

.data-content p {
    font-size: 17px;
}

.data-content p span{
    font-weight: bold;
    font-size: 18px;
}